<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197597240114-b7b9i974d4vohk44sjsmf660a4kq9nfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197597240114-b7b9i974d4vohk44sjsmf660a4kq9nfs</string>
	<key>API_KEY</key>
	<string>AIzaSyDIWpV7SeEV9ifnZyMn6X_AewJKck1OxZU</string>
	<key>GCM_SENDER_ID</key>
	<string>197597240114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.fbStudy</string>
	<key>PROJECT_ID</key>
	<string>fb-study-f6547</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-study-f6547.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197597240114:ios:95e1948a55b57ec19b552b</string>
</dict>
</plist>